<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
      <title>Home</title>
      <div class="topnav">
        <a class="active" href=" {{ ('/') }}">Home</a> &nbsp;
        <a href=" {{('/generate')}}">Generate</a> &nbsp;
        </div>
    </head>
    <body>

          <h1><strong>ELDERSCROLLS ONLINE CHARACTER GENERATOR</strong></h1>
          <div class="arial"><strong>Having trouble thinking of a character? dont worry! we have you covered. simply click <a href=" {{('/generate')}}">here</a>
           to generate a Class, Alliance and a Race!</p></strong></div>
    </body>
</html>